<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../vendor/bootstrap3/css/bootstrap.min.css"/>
</head>
<body>
    <div ng-app="product">
        <div ng-controller="productController" class="container">
            <!--<nav class="navbar navbar-default" role="navigation">-->
                    <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
                        <!--<form class="navbar-form navbar-left" role="search">-->
                            <!--<div class="form-group">-->
                                <!--<input type="text" class="form-control" placeholder="Search">-->
                            <!--</div>-->
                        <!--</form>-->
                    <!--</div>-->
            <!--</nav>-->
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search"  ng-model="search">
                </div>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th ng-class="{dropup:order===''}" ng-click="sort('id')">
                            产品编号
                            <span class="caret"></span>
                        </th>
                        <th ng-class="{dropup:order===''}" ng-click="sort('name')">产品名称<span class="caret"></span></th>
                        <th ng-class="{dropup:order===''}" ng-click="sort('price')">产品价格<span class="caret"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ng-model:search.id-->
                    <!-- filter:{id:search}-->
                    <tr ng-repeat="item in productData|filter:search|orderBy:order+orderType">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.price | currency:'￥'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="../../vendor/angular/angular.min.js" type="application/javascript"></script>
    <script src="app/index.js" type="application/javascript"></script>
</body>
</html>